.nav-item {
  margin-right: 45px;
}

.navbar-nav {
  width: 100%;
}

.navbar-nav a:hover {
  border-bottom: 11px solid #2e7d39;
}

.bannerImage {
  width: 40%;
}

.nav-link {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  font-weight: 600;
}

/* #aboutMe { */
  /* white-space: pre-line; */
  /* display: inline-block !important; */
/* } */


