.wrapper {
  padding-top: 30%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow: auto;
}

@media screen and (max-width: 1023px) and (min-width: 600px) {
  .wrapper {
    flex-flow: row;
  }
}
