.page-link {
  color: #ffffff;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  background: #2e7d39;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.fruitsCollection {
  height: 176px;
  width: 176px;
  border-radius: 100%;
  border: tomato 5px solid;
}

ul {
  list-style-type: none;
}

/* .fruitsList .fruitsRow:nth-child(odd) {
  flex-direction: row-reverse;
}

.fruitsRow:nth-child(even) {
  flex-direction: row;
}

.fruitsList:nth-child(odd) {
  flex-direction: row-reverse;
} */

#Avocado {
  flex-direction: row-reverse;
}

#Beets {
  flex-direction: row-reverse;
}

#Blueberry {
  flex-direction: row-reverse;
}

#Carrot {
  flex-direction: row-reverse;
}

#Grape {
  flex-direction: row-reverse;
}
#Kale {
  flex-direction: row-reverse;
}
#Orange {
  flex-direction: row-reverse;
}
#Peach {
  flex-direction: row-reverse;
}
#Plum {
  flex-direction: row-reverse;
}
#Raspberry {
  flex-direction: row-reverse;
}
#Strawberry {
  flex-direction: row-reverse;
}

.fruitsText {
  font-family: "Playlist_Script";
  font-size: 75px;
}

.fruitsDescription {
  white-space: pre-line;
  font-family:  "Poppins Regular", sans-serif;
  font-size: 22.5px;
}

#readMore {
  font-family: "Poppins Medium Italic";
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  border-bottom: .35px solid black;
  padding-bottom: 3px;
  padding-left: 0px;
  margin-left: -15px; 
  padding-right: 75px;
}

.colBottom2 {
  border-bottom: .35px solid black;
  height: 176px;
  padding-top: 35px;
}

.colBottom {
  border-bottom: .35px solid black;

}

/* .colBottom3 {
  border-bottom: .35px solid black;
} */

/* .colBottom4 {
 
} */

/* hr {
  border: .35px solid black;
} */

/* .fruitList {
  border-bottom: 1px solid black;
} */

