.page-link {
    color: #ffffff;
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background: #2e7d39;
}

#page-numbers {
    list-style: none;
    display: flex;
  }
  
#page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }

  .fruitsCollection {
    height: 176px;
    width: 176px;
    border-radius: 100%;
    border: tomato 5px solid ;
  }

/* .fruitsList .fruitsRow:nth-child(odd) {
  flex-direction: row-reverse;
}

.fruitsRow:nth-child(even) {
  flex-direction: row;
}

.fruitsList:nth-child(odd) {
  flex-direction: row-reverse;
} */

#Avocado {
  flex-direction: row-reverse;
}

#Beets {
  flex-direction: row-reverse;
}

#Blueberry {
  flex-direction: row-reverse;
}

#Carrot {
  flex-direction: row-reverse;
}