.aboutUs {
  font-family: "Playlist_Script";
  color: white;
  font-size: 80px;
  text-align: left;
  padding-left: 4rem;
}

#banner2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#bannerRow {
  background-color: #2e7d39;
}
