#banner3{
    background-color: #4198FF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#botBanner {
    font-size: 80px;
    text-align: right !important;
    padding-right: 6rem;
}