.banner {
  height: auto;
  width: 100%;
  background-color: #2e7d39;
}

.bannerText {
  height: auto;
  width: 100%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  padding: 2rem;
}

.firstWord {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

