.bannerTextReUse {
  font-family: "Playlist_Script";
  color: white;
  font-size: 120px;
  text-align: center;
  padding-left: 4rem;
}

@media screen and (max-width: 600px) {
  .bannerTextReUse {
    font-family: "Playlist_Script";
    color: white;
    font-size: 50px;
    text-align: center;
    padding-left: 3.1rem;
  }
}