.menuBtn {
    height: 115px;
    widows: 171px;
    /* background-color: #9AB49D; */
    font-family: 'Bebas Neue', cursive;
    color: #FFFFFF;
    /* object-fit: cover; */
}

#rowMenuBtn {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

